@import "tailwindcss";

@theme {
  --color-soft-ivory: #EDE6D8;
  --color-dark-cocoa: #311B14;
  
  /* Mapping the custom font utility */
  --font-brown-sugar: var(--font-brown-sugar), serif;
}

body {
  background-color: var(--color-soft-ivory);
  color: var(--color-dark-cocoa);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}